## Training data

In [7]:
import pandas as pd
data = pd.read_csv('Training Data.csv');
print("is data clean :- " , data.notnull().values.all())  # data is clean


input_data1 = data.copy()
input_data1.drop(['CITY','STATE','Risk_Flag'],axis = 1 ,inplace = True)

# Married 

input_data1['Married/Single'] = input_data1['Married/Single'].apply(lambda x : 1 if  x == 'married' else 0 )
print(input_data1['Married/Single'].value_counts())

# House ownership

print(input_data1['House_Ownership'].value_counts())
ownership_mapping = {'rented': 0, 'norent_noown': 1, 'owned': 2}
input_data1['House_Ownership'] = input_data1['House_Ownership'].map(ownership_mapping)
print(input_data1['House_Ownership'].value_counts())

# car ownership 
input_data1['Car_Ownership'].value_counts()
input_data1['Car_Ownership'] = input_data1['Car_Ownership'].apply(lambda x : 1 if  x == 'yes' else 0 )
input_data1['Car_Ownership'].value_counts()


# Profession 

input_data1['Profession'] = input_data1['Profession'].str.replace('_', ' ')

print("number of professions :- ",input_data1['Profession'].nunique())

average_income_by_profession = input_data1.groupby('Profession')['Income'].mean()
# Format the numbers without scientific notation and with commas as thousand separators
average_income_by_profession = average_income_by_profession.apply(lambda x: "{:,.2f}".format(x))

print("average salary of each profession :-\n ",average_income_by_profession)

# Create a mapping for encoding based on average income
profession_encoding = dict(zip(average_income_by_profession.sort_values().index, range(input_data1['Profession'].nunique())))
print(profession_encoding)

# Save the DataFrame to a CSV file this will be used to encoding test data based on training data
df = pd.DataFrame(list(profession_encoding.items()), columns=['Profession', 'Rank'])
df.to_csv('profession_rank.csv', index=False)


# Apply the mapping to create a new column 'Profession_Encoded'
input_data1['Profession_Encoded'] = input_data1['Profession'].map(profession_encoding)
print(input_data1['Profession_Encoded'].value_counts() )


input_data1_final = input_data1.copy()
input_data1_final.drop(['Profession'],axis = 1,inplace = True)
print(input_data1_final)
output_data1 = data.filter(['Id','Risk_Flag'])
print(output_data1)


# Remove id from both
train_X = input_data1_final.copy()
train_X.drop(['Id'],axis = 1 , inplace = True )
train_Y = output_data1.copy()
train_Y.drop(['Id'],axis = 1 , inplace = True)
print(train_X.head(10))
print(train_Y.head(10))


# make array of target variable
Y_train = train_Y['Risk_Flag'].values

is data clean :-  True
0    226272
1     25728
Name: Married/Single, dtype: int64
rented          231898
owned            12918
norent_noown      7184
Name: House_Ownership, dtype: int64
0    231898
2     12918
1      7184
Name: House_Ownership, dtype: int64
number of professions :-  51
average salary of each profession :-
  Profession
Air traffic controller        4,958,421.71
Analyst                       4,894,181.21
Architect                     5,004,078.75
Army officer                  5,094,472.73
Artist                        5,164,765.18
Aviator                       5,074,103.52
Biomedical Engineer           4,982,527.56
Chartered Accountant          5,002,232.42
Chef                          4,839,915.14
Chemical engineer             5,189,804.99
Civil engineer                4,755,441.02
Civil servant                 4,947,842.64
Comedian                      5,199,538.53
Computer hardware engineer    4,989,531.17
Computer operator             5,112,549.85
Consultant                    5,138,435.81
Dentist                       4,948,818.69
Design Engineer               4,840,220.61
Designer                      5,336,802.23
Drafter                       4,654,804.63
Economist                     4,916,001.92
Engineer                      4,814,755.19
Fashion Designer              5,070,883.08
Financial Analyst             5,145,752.51
Firefighter                   5,046,134.01
Flight attendant              4,592,177.01
Geologist                     4,879,361.63
Graphic Designer              4,900,447.05
Hotel Manager                 4,996,878.34
Industrial Engineer           5,060,502.18
Lawyer                        5,128,131.46
Librarian                     5,007,589.70
Magistrate                    4,769,919.82
Mechanical engineer           5,175,032.07
Microbiologist                5,035,358.00
Official                      4,737,617.36
Petroleum Engineer            5,443,309.83
Physician                     4,780,383.77
Police officer                4,502,915.76
Politician                    4,913,567.98
Psychologist                  5,357,795.26
Scientist                     5,282,710.42
Secretary                     5,102,879.89
Software Developer            4,891,296.09
Statistician                  5,028,648.27
Surgeon                       5,235,358.71
Surveyor                      5,112,352.28
Technical writer              4,922,265.75
Technician                    4,971,491.56
Technology specialist         4,985,643.17
Web designer                  4,893,094.55
Name: Income, dtype: object
{'Police officer': 0, 'Flight attendant': 1, 'Drafter': 2, 'Official': 3, 'Civil engineer': 4, 'Magistrate': 5, 'Physician': 6, 'Engineer': 7, 'Chef': 8, 'Design Engineer': 9, 'Geologist': 10, 'Software Developer': 11, 'Web designer': 12, 'Analyst': 13, 'Graphic Designer': 14, 'Politician': 15, 'Economist': 16, 'Technical writer': 17, 'Civil servant': 18, 'Dentist': 19, 'Air traffic controller': 20, 'Technician': 21, 'Biomedical Engineer': 22, 'Technology specialist': 23, 'Computer hardware engineer': 24, 'Hotel Manager': 25, 'Chartered Accountant': 26, 'Architect': 27, 'Librarian': 28, 'Statistician': 29, 'Microbiologist': 30, 'Firefighter': 31, 'Industrial Engineer': 32, 'Fashion Designer': 33, 'Aviator': 34, 'Army officer': 35, 'Secretary': 36, 'Surveyor': 37, 'Computer operator': 38, 'Lawyer': 39, 'Consultant': 40, 'Financial Analyst': 41, 'Artist': 42, 'Mechanical engineer': 43, 'Chemical engineer': 44, 'Comedian': 45, 'Surgeon': 46, 'Scientist': 47, 'Designer': 48, 'Psychologist': 49, 'Petroleum Engineer': 50}
6     5957
29    5806
12    5397
49    5390
24    5372
2     5359
5     5357
33    5304
20    5281
45    5259
32    5250
43    5217
44    5205
17    5195
25    5178
41    5167
14    5166
1     5128
22    5127
36    5061
11    5053
50    5041
0     5035
38    4990
15    4944
30    4881
21    4864
42    4861
39    4818
40    4808
19    4782
47    4781
46    4772
34    4758
23    4737
9     4729
37    4714
10    4672
13    4668
35    4661
27    4657
8     4635
28    4628
4     4616
48    4598
16    4573
31    4507
26    4493
18    4413
3     4087
7     4048
Name: Profession_Encoded, dtype: int64
            Id   Income  Age  Experience  Married/Single  House_Ownership  \
0            1  1303834   23           3               0                0
1            2  7574516   40          10               0                0
2            3  3991815   66           4               1                0
3            4  6256451   41           2               0                0
4            5  5768871   47          11               0                0
...        ...      ...  ...         ...             ...              ...
251995  251996  8154883   43          13               0                0
251996  251997  2843572   26          10               0                0
251997  251998  4522448   46           7               0                0
251998  251999  6507128   45           0               0                0
251999  252000  9070230   70          17               0                0

        Car_Ownership  CURRENT_JOB_YRS  CURRENT_HOUSE_YRS  Profession_Encoded
0                   0                3                 13                  43
1                   0                9                 13                  11
2                   0                4                 10                  17
3                   1                2                 12                  11
4                   0                3                 14                  18
...               ...              ...                ...                 ...
251995              0                6                 11                  46
251996              0                6                 11                  35
251997              0                7                 12                   9
251998              0                0                 10                  14
251999              0                7                 11                  29

[252000 rows x 10 columns]
            Id  Risk_Flag
0            1          0
1            2          0
2            3          0
3            4          1
4            5          1
...        ...        ...
251995  251996          0
251996  251997          0
251997  251998          0
251998  251999          0
251999  252000          0

[252000 rows x 2 columns]
    Income  Age  Experience  Married/Single  House_Ownership  Car_Ownership  \
0  1303834   23           3               0                0              0
1  7574516   40          10               0                0              0
2  3991815   66           4               1                0              0
3  6256451   41           2               0                0              1
4  5768871   47          11               0                0              0
5  6915937   64           0               0                0              0
6  3954973   58          14               1                0              0
7  1706172   33           2               0                0              0
8  7566849   24          17               0                0              1
9  8964846   23          12               0                0              0

   CURRENT_JOB_YRS  CURRENT_HOUSE_YRS  Profession_Encoded
0                3                 13                  43
1                9                 13                  11
2                4                 10                  17
3                2                 12                  11
4                3                 14                  18
5                0                 12                  18
6                8                 12                  28
7                2                 14                  16
8               11                 11                   1
9                5                 13                  27
   Risk_Flag
0          0
1          0
2          0
3          1
4          1
5          0
6          0
7          0
8          0
9          0

## Testing data

In [8]:
import csv
import pandas as pd

data = pd.read_csv('Test Data.csv');
print("is data clean :- " , data.notnull().values.all())  # data is clean

input_data1 = data.copy()
input_data1.drop(['CITY','STATE'],axis = 1 ,inplace = True)


input_data1['Married/Single'] = input_data1['Married/Single'].apply(lambda x : 1 if  x == 'married' else 0 )
print(input_data1['Married/Single'].value_counts())

print(input_data1['House_Ownership'].value_counts())
ownership_mapping = {'rented': 0, 'norent_noown': 1, 'owned': 2}
input_data1['House_Ownership'] = input_data1['House_Ownership'].map(ownership_mapping)
print(input_data1['House_Ownership'].value_counts())

print(input_data1['Car_Ownership'].value_counts())
input_data1['Car_Ownership'] = input_data1['Car_Ownership'].apply(lambda x : 1 if  x == 'yes' else 0 )
print(input_data1['Car_Ownership'].value_counts())

print(input_data1['Profession'].value_counts())
print(input_data1['Profession'].nunique())
profession_encoding = {}

# Read the CSV file and populate the dictionary
with open('profession_rank.csv', 'r', newline='') as file:
    reader = csv.DictReader(file)
    for row in reader:
        profession_encoding[row['Profession']] = int(row['Rank'])

# Now profession_encoding dictionary contains profession and its rank mappings
print(profession_encoding)  # Example usage

# Apply the mapping to create a new column 'Profession_Encoded'
input_data1['Profession_Encoded'] = input_data1['Profession'].map(profession_encoding)
print(input_data1['Profession_Encoded'].value_counts() )


# features
input_data1_final = input_data1.copy()
input_data1_final.drop(['Profession'],axis = 1,inplace = True)
print(input_data1_final)

# target variable
output_data1 = pd.read_csv('Sample Prediction Dataset.csv')
# change name of column according to training data
output_data1.rename(columns = {'id' : 'Id' , 'risk_flag':'Risk_Flag' },inplace = True)

# drop id column
test_X = input_data1_final.copy()
test_X.drop(['ID'],axis = 1 , inplace = True)
test_Y = output_data1.copy()
test_Y.drop(['Id'],axis = 1 , inplace = True)
print(test_X.shape)
print(test_Y.shape)

# save to a csv , this is our test data
test_X.to_csv('test_x.csv',sep=',' , index =False , encoding = 'utf-8')
test_Y.to_csv('test_y.csv', sep=',', index=False, encoding='utf-8')

is data clean :-  True
0    25170
1     2830
Name: Married/Single, dtype: int64
rented          25805
owned            1430
norent_noown      765
Name: House_Ownership, dtype: int64
0    25805
2     1430
1      765
Name: House_Ownership, dtype: int64
no     19625
yes     8375
Name: Car_Ownership, dtype: int64
0    19625
1     8375
Name: Car_Ownership, dtype: int64
Computer hardware engineer    672
Statistician                  672
Physician                     630
Mechanical engineer           621
Technical writer              616
Psychologist                  614
Web designer                  607
Comedian                      598
Hotel Manager                 595
Flight attendant              579
Biomedical Engineer           578
Computer operator             576
Magistrate                    575
Air traffic controller        574
Drafter                       573
Financial Analyst             572
Industrial Engineer           570
Artist                        567
Politician                    566
Graphic Designer              565
Fashion Designer              565
Microbiologist                564
Chemical engineer             555
Consultant                    555
Secretary                     550
Technology specialist         549
Aviator                       546
Librarian                     540
Firefighter                   539
Dentist                       538
Technician                    534
Scientist                     533
Software Developer            529
Chartered Accountant          528
Analyst                       523
Petroleum Engineer            520
Surgeon                       520
Designer                      518
Economist                     517
Police officer                516
Surveyor                      515
Lawyer                        510
Design Engineer               509
Architect                     509
Army officer                  501
Geologist                     495
Civil servant                 490
Chef                          468
Engineer                      468
Civil engineer                461
Official                      415
Name: Profession, dtype: int64
51
{'Police officer': 0, 'Flight attendant': 1, 'Drafter': 2, 'Official': 3, 'Civil engineer': 4, 'Magistrate': 5, 'Physician': 6, 'Engineer': 7, 'Chef': 8, 'Design Engineer': 9, 'Geologist': 10, 'Software Developer': 11, 'Web designer': 12, 'Analyst': 13, 'Graphic Designer': 14, 'Politician': 15, 'Economist': 16, 'Technical writer': 17, 'Civil servant': 18, 'Dentist': 19, 'Air traffic controller': 20, 'Technician': 21, 'Biomedical Engineer': 22, 'Technology specialist': 23, 'Computer hardware engineer': 24, 'Hotel Manager': 25, 'Chartered Accountant': 26, 'Architect': 27, 'Librarian': 28, 'Statistician': 29, 'Microbiologist': 30, 'Firefighter': 31, 'Industrial Engineer': 32, 'Fashion Designer': 33, 'Aviator': 34, 'Army officer': 35, 'Secretary': 36, 'Surveyor': 37, 'Computer operator': 38, 'Lawyer': 39, 'Consultant': 40, 'Financial Analyst': 41, 'Artist': 42, 'Mechanical engineer': 43, 'Chemical engineer': 44, 'Comedian': 45, 'Surgeon': 46, 'Scientist': 47, 'Designer': 48, 'Psychologist': 49, 'Petroleum Engineer': 50}
24    672
29    672
6     630
43    621
17    616
49    614
12    607
45    598
25    595
1     579
22    578
38    576
5     575
20    574
2     573
41    572
32    570
42    567
15    566
14    565
33    565
30    564
44    555
40    555
36    550
23    549
34    546
28    540
31    539
19    538
21    534
47    533
11    529
26    528
13    523
50    520
46    520
48    518
16    517
0     516
37    515
39    510
9     509
27    509
35    501
10    495
18    490
8     468
7     468
4     461
3     415
Name: Profession_Encoded, dtype: int64
          ID   Income  Age  Experience  Married/Single  House_Ownership  \
0          1  7393090   59          19               0                0
1          2  1215004   25           5               0                0
2          3  8901342   50          12               0                0
3          4  1944421   49           9               1                0
4          5    13429   25          18               0                0
...      ...      ...  ...         ...             ...              ...
27995  27996  9955481   57          13               0                0
27996  27997  2917765   47           9               0                0
27997  27998  8082415   24           5               0                0
27998  27999  9474180   51          13               0                0
27999  28000  9250350   42           9               0                0

       Car_Ownership  CURRENT_JOB_YRS  CURRENT_HOUSE_YRS  Profession_Encoded
0                  0                4                 13                  10
1                  0                5                 10                  31
2                  0                9                 14                  39
3                  1                3                 12                  13
4                  1               13                 11                  45
...              ...              ...                ...                 ...
27995              0                5                 10                  29
27996              0                9                 14                  17
27997              0                4                 13                  39
27998              1               13                 14                  26
27999              0                4                 10                   8

[28000 rows x 10 columns]
(28000, 9)
(28000, 1)

In [9]:
# Load test data
x_test = pd.read_csv('test_x.csv')
y_test = pd.read_csv('test_y.csv')

# check if values are pure
print("Is input pure :- ",x_test.notnull().values.all())

Is input pure :-  True

## Running model

In [10]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100 ,max_samples = 1.0, criterion = 'gini', max_depth = 3,min_samples_split = 10 , min_samples_leaf = 1 )

model.fit(train_X,Y_train)

x_test.head(10)
test_y = y_test['Risk_Flag'].values

print(model.score(x_test,test_y)*100 , "%")

87.16785714285714 %