In [6]:
import csv
import pandas as pd

In [7]:
data = pd.read_csv('Test Data.csv');
print("is data clean :- " , data.notnull().values.all())  # data is clean

input_data1 = data.copy()
input_data1.drop(['CITY','STATE'],axis = 1 ,inplace = True)

is data clean :-  True

## For married/single

In [8]:
input_data1['Married/Single'] = input_data1['Married/Single'].apply(lambda x : 1 if  x == 'married' else 0 )
print(input_data1['Married/Single'].value_counts())

0    25170
1     2830
Name: Married/Single, dtype: int64

## For House Ownership

In [9]:
print(input_data1['House_Ownership'].value_counts())
ownership_mapping = {'rented': 0, 'norent_noown': 1, 'owned': 2}
input_data1['House_Ownership'] = input_data1['House_Ownership'].map(ownership_mapping)
print(input_data1['House_Ownership'].value_counts())

rented          25805
owned            1430
norent_noown      765
Name: House_Ownership, dtype: int64
0    25805
2     1430
1      765
Name: House_Ownership, dtype: int64

## car_ownership

In [10]:
print(input_data1['Car_Ownership'].value_counts())
input_data1['Car_Ownership'] = input_data1['Car_Ownership'].apply(lambda x : 1 if  x == 'yes' else 0 )
print(input_data1['Car_Ownership'].value_counts())

no     19625
yes     8375
Name: Car_Ownership, dtype: int64
0    19625
1     8375
Name: Car_Ownership, dtype: int64

## Profession

In [11]:
print(input_data1['Profession'].value_counts())
print(input_data1['Profession'].nunique())
profession_encoding = {}

# Read the CSV file and populate the dictionary
with open('profession_rank.csv', 'r', newline='') as file:
    reader = csv.DictReader(file)
    for row in reader:
        profession_encoding[row['Profession']] = int(row['Rank'])

# Now profession_encoding dictionary contains profession and its rank mappings
print(profession_encoding)  # Example usage

# Apply the mapping to create a new column 'Profession_Encoded'
input_data1['Profession_Encoded'] = input_data1['Profession'].map(profession_encoding)
print(input_data1['Profession_Encoded'].value_counts() )

Computer hardware engineer    672
Statistician                  672
Physician                     630
Mechanical engineer           621
Technical writer              616
Psychologist                  614
Web designer                  607
Comedian                      598
Hotel Manager                 595
Flight attendant              579
Biomedical Engineer           578
Computer operator             576
Magistrate                    575
Air traffic controller        574
Drafter                       573
Financial Analyst             572
Industrial Engineer           570
Artist                        567
Politician                    566
Graphic Designer              565
Fashion Designer              565
Microbiologist                564
Chemical engineer             555
Consultant                    555
Secretary                     550
Technology specialist         549
Aviator                       546
Librarian                     540
Firefighter                   539
Dentist                       538
Technician                    534
Scientist                     533
Software Developer            529
Chartered Accountant          528
Analyst                       523
Petroleum Engineer            520
Surgeon                       520
Designer                      518
Economist                     517
Police officer                516
Surveyor                      515
Lawyer                        510
Design Engineer               509
Architect                     509
Army officer                  501
Geologist                     495
Civil servant                 490
Chef                          468
Engineer                      468
Civil engineer                461
Official                      415
Name: Profession, dtype: int64
51
{'Police officer': 0, 'Flight attendant': 1, 'Drafter': 2, 'Official': 3, 'Civil engineer': 4, 'Magistrate': 5, 'Physician': 6, 'Engineer': 7, 'Chef': 8, 'Design Engineer': 9, 'Geologist': 10, 'Software Developer': 11, 'Web designer': 12, 'Analyst': 13, 'Graphic Designer': 14, 'Politician': 15, 'Economist': 16, 'Technical writer': 17, 'Civil servant': 18, 'Dentist': 19, 'Air traffic controller': 20, 'Technician': 21, 'Biomedical Engineer': 22, 'Technology specialist': 23, 'Computer hardware engineer': 24, 'Hotel Manager': 25, 'Chartered Accountant': 26, 'Architect': 27, 'Librarian': 28, 'Statistician': 29, 'Microbiologist': 30, 'Firefighter': 31, 'Industrial Engineer': 32, 'Fashion Designer': 33, 'Aviator': 34, 'Army officer': 35, 'Secretary': 36, 'Surveyor': 37, 'Computer operator': 38, 'Lawyer': 39, 'Consultant': 40, 'Financial Analyst': 41, 'Artist': 42, 'Mechanical engineer': 43, 'Chemical engineer': 44, 'Comedian': 45, 'Surgeon': 46, 'Scientist': 47, 'Designer': 48, 'Psychologist': 49, 'Petroleum Engineer': 50}
24    672
29    672
6     630
43    621
17    616
49    614
12    607
45    598
25    595
1     579
22    578
38    576
5     575
20    574
2     573
41    572
32    570
42    567
15    566
14    565
33    565
30    564
44    555
40    555
36    550
23    549
34    546
28    540
31    539
19    538
21    534
47    533
11    529
26    528
13    523
50    520
46    520
48    518
16    517
0     516
37    515
39    510
9     509
27    509
35    501
10    495
18    490
8     468
7     468
4     461
3     415
Name: Profession_Encoded, dtype: int64

In [12]:
# features
input_data1_final = input_data1.copy()
input_data1_final.drop(['Profession'],axis = 1,inplace = True)
print(input_data1_final)

          ID   Income  Age  Experience  Married/Single  House_Ownership  \
0          1  7393090   59          19               0                0
1          2  1215004   25           5               0                0
2          3  8901342   50          12               0                0
3          4  1944421   49           9               1                0
4          5    13429   25          18               0                0
...      ...      ...  ...         ...             ...              ...
27995  27996  9955481   57          13               0                0
27996  27997  2917765   47           9               0                0
27997  27998  8082415   24           5               0                0
27998  27999  9474180   51          13               0                0
27999  28000  9250350   42           9               0                0

       Car_Ownership  CURRENT_JOB_YRS  CURRENT_HOUSE_YRS  Profession_Encoded
0                  0                4                 13                  10
1                  0                5                 10                  31
2                  0                9                 14                  39
3                  1                3                 12                  13
4                  1               13                 11                  45
...              ...              ...                ...                 ...
27995              0                5                 10                  29
27996              0                9                 14                  17
27997              0                4                 13                  39
27998              1               13                 14                  26
27999              0                4                 10                   8

[28000 rows x 10 columns]

In [13]:
# target variable
output_data1 = pd.read_csv('Sample Prediction Dataset.csv')
# change name of column according to training data
output_data1.rename(columns = {'id' : 'Id' , 'risk_flag':'Risk_Flag' },inplace = True)

In [14]:
# drop id column
train_X = input_data1_final.copy()
train_X.drop(['ID'],axis = 1 , inplace = True)
train_Y = output_data1.copy()
train_Y.drop(['Id'],axis = 1 , inplace = True)
print(train_X.shape)
print(train_Y.shape)

(28000, 9)
(28000, 1)

In [15]:
# save to a csv , this is our test data
train_X.to_csv('test_x.csv',sep=',' , index =False , encoding = 'utf-8')
train_Y.to_csv('test_y.csv', sep=',', index=False, encoding='utf-8')